<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o Evento</title>
    <link rel="stylesheet" href="../css/sobre.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" href="home.html">Play Eventos</a>

            <div class="navbar-links">
                <a class="nav-link" href="home.html">Inicio</a>
                <a class="nav-link" href="cadastrar_evento.html">Cadastrar Evento</a>
                <a class="nav-link" href="fazer_inscricao.html">Inscricoes</a>
                <a class="nav-link" href="sobre.html">Sobre o Evento</a>
            </div>
        </nav>
        <main>
          <section class="banner">
            <div class="banner-content">
              <h1>Sobre os eventos</h1>
              <p>Vou explicar sobre o que é o nosso site e apresentar alguns dos seus eventos.</p>
              </div>
          </section>

           <section class="container-eventos">
            <h2>Primeiro: o que é o nosso site?</h2>
            <p>Nosso site é sobre jogos e sobre a cultura gamer. Mostramos alguns jogos populares para o público que já conhece, e ao mesmo tempo ajudamos a apresentar essa cultura para pessoas novas, que ainda não tiveram contato com o mundo dos games.</p>
            <p>Existem vários jogos com histórias incríveis. Alguns exemplos de ótimos jogos com boas histórias são: The Last of Us, Resident Evil, Days Gone e Cyberpunk 2077.</p>
          </section>

          <section class="container-eventos">
          <h3>O objetivo do site</h3>
          <p>O objetivo do site é mostrar para as pessoas que os jogos podem ensinar coisas boas e apresentar um mundo totalmente novo, com uma sensação única em cada jogo e momento. A ideia é mostrar que os jogos podem ser positivos quando usados de forma consciente, além de ajudarem a relaxar.</p>
          <p>Esperamos que aproveitem o nosso site.</p>
          </section>


        </main>
    </header>
    <footer>
        <p>Play Eventos - 2026</p>
    </footer>
</body>
</html>