<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Pagina Principal</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" href="home.html">Play Eventos</a>

            <div class="navbar-links">
                <a class="nav-link" href="home.html">Inicio</a>
                <a class="nav-link" href="cadastrar_evento.html">Cadastrar Evento</a>
                <a class="nav-link" href="fazer_inscricao.html">Inscricoes</a>
                <a class="nav-link" href="sobre.html">Sobre o Evento</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="banner">
            <div class="banner-content">
                <h1>Play Eventos</h1>
                <p>play eventos é um evento de jogos/gamers da nova geração e tambem da antiga gereção</p>
            </div>
        </section>

        <section class="container-eventos">
            <h2>Eventos em destaque</h2>

            <div class="cards-grid">
                <article class="card">
                    <img class="img-evento" src="../img/Resident_Evil_4.png" alt="Debate de Qual é o melhor Resident Evil">
                    <div class="card-body">
                        <h3>Qual é o melhor Resident Evil</h3>
                        <p> Vamos fazer um Debate para ver qual das saga Resident Evil tem a melhor historia.</p>
                        <div class="card-actions">
                            <a href="cadastrar_evento.html" class="btn btn-info">Ver detalhes</a>
                            <a href="fazer_inscricao.html" class="btn btn-dark">Inscrever-se</a>
                        </div>
                    </div>
                </article>

                <article class="card">
                    <img class="img-evento" src="../img/csgo.png" alt="Um Torneio de CSGO para Ganhar premios">
                    <div class="card-body">
                        <h3>Torneio de CSGO</h3>
                        <p>Participe do Nosso torneio amistoso para Ganhar varios Premios do famoso CSGO</p>
                        <div class="card-actions">
                            <a href="cadastrar_evento.html" class="btn btn-info">Ver detalhes</a>
                            <a href="fazer_inscricao.html" class="btn btn-dark">Inscrever-se</a>
                        </div>
                    </div>
                </article>

                
                <article class="card">
                    <img class="img-evento" src="../img/spider-man.png.png" alt="Quizz sobre o Espetacular Homer aranha">
                    <div class="card-body">
                        <h3>Sera que vocé conhece o Spider-man</h3>
                        <p>Vamos fazer um Quizz sobre o Espetacular Homer Aranha quem ganhar em Primeiro ganhara Premios</p>
                        <div class="card-actions">
                            <a href="cadastrar_evento.html" class="btn btn-info">Ver detalhes</a>
                            <a href="fazer_inscricao.html" class="btn btn-dark">Inscrever-se</a>
                        </div>
                    </div>
                </article>

                <article class="card">
                    <img class="img-evento" src="../img/cyberpunk-2077.png" alt="um debate para interagir e mostrar suas opiniões sobre o FPS">
                    <div class="card-body">
                        <h3>Qual Jogo de FPS é o melhor nos Dias de Hoje</h3>
                        <p>Qual FPS Hoje domina o mercado um debate para mostrar suas opiniões</p>
                        <div class="card-actions">
                            <a href="cadastrar_evento.html" class="btn btn-info">Ver detalhes</a>
                            <a href="fazer_inscricao.html" class="btn btn-dark">Inscrever-se</a>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <p>Play Eventos - 2026</p>
    </footer>
</body>
</html>
