<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o Evento</title>
</head>
<body>


    
    <header>
        <nav class="navbar">
            <a class="navbar-brand" href="home.html">Play Eventos</a>

            <div class="navbar-links">
                <a class="nav-link" href="home.html">Inicio</a>
                <a class="nav-link" href="cadastrar_evento.html">Cadastrar Evento</a>
                <a class="nav-link" href="fazer_inscricao.html">Inscricoes</a>
                <a class="nav-link" href="sobre.html">Sobre o Evento</a>
            </div>
        </nav>
    </header>
</body>
</html>